@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'HyliaSerifBeta-Regular';
        src: url(../fonts/HyliaSerifBeta-Regular.woff2) format('woff2');
    }
    @font-face {
        font-family: 'The Wild Breath of Zelda';
        src: url(../fonts/breath.woff2) format('woff2'),
        url(../fonts/breath.woff) format('woff');
    }
}
